<h1 class="govuk-heading-xl">All licenses:</h1>

<ol class="govuk-list govuk-list--bullets">
<% @licenses.each do |l| %>
    <li>
        <%= l.applicant %>: <%= l.number_of_balls %> balls for <%= l.duration %> days 
    </li>
<% end %>
</ol>



<%= link_to "Apply for a license (Wicked)", wizard_path(:applicant_name), {class: "govuk-button govuk-button--start"} %>